<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nagarro Central Library</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Book Management System</h1>
		<hr>
		<h2>Add Book Details</h2>

		<form action="#" th:action="@{/add}" th:object="${book}"
			method="POST">
			<input type="text" th:field="*{bookId}" placeholder="Book Code"
				class="form-control mb-4 col-4"> 
			<input type="text" th:field="*{bookName}" placeholder="Book Name"
						class="form-control mb-4 col-4"> 
			
			<select th:field="*{author}" class="form-control mb-4 col-4">
			    <option value="" disabled selected>Select an Author</option>
			    <option th:each="author : ${authors}" th:value="${author.authName}" th:text="${author.authName}"></option>
			</select>
			<input type="text" 
			       th:field="*{addedOn}" 
			       th:value="${#dates.format(addedOn, 'dd MM yyyy')}" 
			       placeholder="Added On" 
			       class="form-control mb-4 col-4" />
			
			<button type="submit" class="btn btn-info col-2">Save Book</button>
			<button type="reset" class="btn btn-info col-2">Cancel</button>
		</form>
		<hr>
		<a th:href="@{/}"> Back to Book List</a>
	</div>
</body>
</html>
