<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nagarro Central Library</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Book Management System</h1>
		<hr>
		<h2>Update Book</h2>

		<form action="#" th:action="@{/update}" th:object="${book}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{bookId}" />
			
			<input type="text" th:field="*{bookName}" class="form-control mb-4 col-4">
						
			<select th:field="*{author}" class="form-control mb-4 col-4">
			    <option th:each="author : ${authors}" th:value="${author.authName}" th:text="${author.authName}"></option>
			</select>
							   
			<button type="submit" class="btn btn-info col-2"> Update Book</button>
		</form>
		<hr>
		<a th:href = "@{/}"> Back to Book List</a>
	</div>
</body>
</html>
